body{
    background-color: rgb(255, 189, 252);
    font-family: 'Shadows Into Light', cursive;
    font-size: 100%;
}
.titulo {
    font-family: 'Moirai One', cursive;
    text-align: center;
    background-color: rgb(197, 148, 243);
    color: rgb(5, 5, 5);
    padding: 30px;
    flex-wrap: wrap;
    font-size: xx-large;
    letter-spacing: 20px;
}
.axosleep{
    width: 200px;
    display: flex;
    justify-content: center;
}
.menu{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3%;
    font-size: large;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: contain;
    box-align: center;
    align-items: center;
}
h2{
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 6px;
    color: #4416c4;
    background-color: #e3e3e3;
    text-align: center;
}
div{
    display: flex;
    justify-content: center;
}
ul{
    text-align: center;
    color: rgb(40, 5, 240);
    padding: 30px;
    font-weight: 600;
    font-style: italic;
    flex-wrap: wrap;
    list-style: none;
}
ol{
    text-align: center;
    color: rgb(40, 5, 240);
    padding: 30px;
    font-weight: 600;
    font-style: italic;
    flex-wrap: wrap;
    list-style: none;
}
p{
    text-align: center;
    color: rgb(10, 10, 10);
    padding: 30px;
    font-weight: 300;
    font-size: 100%;
}
h3{
    text-align: center;
    background-color: rgb(70, 228, 240);
    color: rgb(248, 6, 216);
    padding: 30px;
}
h4{
    text-align: center;
    background-color: rgb(17, 238, 46);
    color: rgb(30, 6, 248);
    padding: 30px;
    font-size: 90%;
}